:root {
    --pri_bg: #d6c6c6;
    --sec-bg: #063d74;
    --main-bg: #e6e6ec;
    --border-clr: #09476b;
    --btn-clr: #0a3863;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--main-bg);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: var(--sec-bg);
    margin: 20px 0 40px 0;
}

.todo-app {
    background-color: var(--pri_bg);
    width: 300px;
    height: 350px;
    border: 5px solid var(--border-clr);
    border-radius: 8px;
    padding: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    cursor: pointer;
    width: 100px;
    margin: 10px;
    color: var(--main-bg);
    background-color: var(--btn-clr);
    background-image: linear-gradient(var(--btn-clr), var(--sec-bg));
    border-color: var(--btn-clr);
    box-shadow: 0 2px 6px var(--border-clr);
    border-width: 3px;
    transform: translateY(0);
    transition: transform 0.3s ease;
}

.btn:hover,
.btn:active {
    transform: translateY(-2px);
    background-image: linear-gradient(var(--sec-bg), var(--btn-clr));
}

.large-btn {
    width: 80%;
    font-size: 1.2rem;
    align-self: center;
    justify-self: center;
    border-radius: 4px;
}

.close-task-form-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.close-icon {
    width: 20px;
    height: 20px;
}

.task-form {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--pri_bg);
    border-radius: 5px;
    padding: 15px;
    width: 300px;
    height: 350px;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

.task-form-header {
    display: flex;
    justify-content: flex-end;
}

.task-form-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.task-form-footer {
    display: flex;
    justify-content: center;
}

.task-form-label,
#title-input,
#date-input,
#description-input {
    display: block;
}

.task-form-label {
    margin-bottom: 5px;
    font-size: 1.3rem;
    font-weight: bold;
}

#title-input,
#date-input,
#description-input {
    width: 100%;
    margin-bottom: 10px;
    padding: 2px;
    border-radius: 4px;
    border: 2px solid var(--border-clr);
}

#confirm-close-dialog {
    padding: 10px;
    margin: 10px auto;
    border-radius: 15px;
}

.confirm-close-dialog-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.discard-message-text {
    font-weight: bold;
    font-size: 1.5rem;
}

#tasks-container {
    height: 100%;
    overflow-y: auto;
}

.task {
    margin: 5px 0;
}

.hidden {
    display: none;
}

@media (min-width: 576px) {
    .todo-app,
    .task-form {
        width: 400px;
        height: 450px;
    }

    .task-form-label {
        font-size: 1.5rem;
    }

    #title-input,
    #date-input {
        height: 2rem;
    }

    #title-input,
    #date-input,
    #description-input {
        padding: 5px;
        margin-bottom: 20px;
    }
}
