:root {
    --pri-bg: #fff;
    --dash-bg: #bb6c3e;
    --nav-bg: #9b762e;
    --box-shd: 10px 14px 16px #00000004;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--pri-bg);
}

nav {
    width: 100vw;
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--nav-bg);
    box-shadow: var(--box-shd);
    border-radius: 0 0 4px 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav_box {
    width: 100px;
    height: 70px;
    background-color: aliceblue;
}
